@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #090911;
    font-family: 'Lato', sans-serif;
    color: white;
}
main{
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(../assets/tv-smoke-peaky-blinders-cillian-murphy-wallpaper-13cf27572d3b3c1d08ec50c3c5d7980f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
.pink_buttons {
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    background-color: #F34096;
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 0px 6px 16px 4px #F340964D;
    border-radius: 25px;
    cursor: pointer;
}
.header_text{
    position: absolute;
    width: 20%;
    height: 30%;
    right: 120px;
    bottom: 95px;

}
.header_text .header_text__button{
    background: none;
    border: 2px solid white;
    width: 65px;
    height: 28px;
    border-radius: 25px;
    color: white;
    font-weight: 400;
}
.header_text .header_text_p{
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}
.searchBar{
    display: flex;
    align-items: center;
    width: 98%;
    height: 40px;
    justify-content: end;
    padding-top: 8px;
}
.searchBar a svg{
    padding: 8px 10px;;
   width: 16px;
}

/* Popular Movies */

.popular_movies{
    width: 80%;
    height: auto;
    margin: 278px auto 0px;
}
.popular_movies h1 {
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.popular_movies .popular_movies__cards {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
    column-gap: 20px;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
    cursor: grab;
}
.popular_movies .popular_movies__cards::-webkit-scrollbar{
    background-color: #090911;
    height: 3px;
}
.popular_movies .popular_movies__cards article{
    min-width: 130px;
    height: 230px;
    line-height: 4px;
}
.popular_movies .popular_movies__cards article img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
}
.popular_movies .popular_movies__cards article .movie_title{
    margin: 8px 0 0 0 ;
    font-size: 12px;
    font-weight: bold;
}
.popular_movies .popular_movies__cards article .cards_icons{
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: space-between;
}
.popular_movies .popular_movies__cards article .cards_icons svg{
    width: 16px;
    margin-left: 4px;
}
.popular_movies_div_button{
    width: 100%;
    display: flex;
    justify-content: end;
}
